body {
    background-color: #f0ffff;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-color: rgb(255, 192, 203);
}

nav {
    background-color: rgb(255, 155, 170);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

nav > a {
    margin: 5px;
    color: black;
    font-size: 20px;
}

a {
    text-decoration: none;
}

footer {
    background-color: pink;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "footerLogo address contact twitter instagram ." "date . . . . .";
    padding: 5px;
}

h1 {
    font-family: url("./Lobster/Lobster-Regular.ttf"), cursive;
}

#logo {
    max-height: 50px;
    max-width: 100%;
}

#homeImage {
    background-image: url("images/homelayout.png");
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#homeLogo {
    max-height: 100px;
    max-width: 100%;
}

#videos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    max-width: 100%;
    grid-template-areas: "videoOne videoTwo";
}

#videoOne {
    grid-area: videoOne;
    width: 560px;
    height: 315px;
}

#videoTwo {
    grid-area: videoTwo;
    width: 560px;
    height: 315px;
}

#products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "productOne productTwo productThree productFour" "productFive productSix productSeven productEight";
    max-width: 100%;
    gap: 10px;
    margin: 10px;
}

#productOne {
    grid-area: productOne;
}

#productTwo {
    grid-area: productTwo;
}

#productThree {
    grid-area: productThree;
}

#productFour {
    grid-area: productFour;
}

#productFive {
    grid-area: productFive;
}

#productSix {
    grid-area: productSix;
}

#productSeven {
    grid-area: productSeven;
}

#productEight {
    grid-area: productEight;
}

#productOne > img, #productOne > p {
    max-width: 100%;
}

#productTwo > img, #productTwo > p {
    max-width: 100%;
}

#productThree > img, #productThree > p {
    max-width: 100%;
}

#productFour > img, #productFour > p {
    max-width: 100%;
}

#productFive > img, #productFive > p {
    max-width: 100%;
}

#productSix > img, #productSix > p {
    max-width: 100%;
}

#productSeven > img, #productSeven > p {
    max-width: 100%;
}

#productEight > img, #productEight > p {
    max-width: 100%;
}

.label {
    display: inline;
}

#footerLogo {
    grid-area: footerLogo;
    max-height: 50px;
}

#date {
    grid-area: date;
}

#address {
    grid-area: address;
}

#contact {
    grid-area: contact;
}

#twitter {
    grid-area: twitter;
}

#instagram {
    grid-area: instagram;
}

@media only screen and (max-width: 1120px) {
    #videos {
        justify-items: stretch;
    }

    #videoOne {
        width: 100%;
        min-height: 315px;
    }
    
    #videoTwo {
        width: 100%;
        min-height: 315px;
    }
}

@media only screen and (max-width: 479px) {
    #products {
            display: flex;
            max-width: 100%;
            gap: 5px;
            margin: 5px;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    
        #productOne {
            grid-area: productOne;
            max-width: 49%;
        }
    
        #productTwo {
            grid-area: productTwo;
            max-width: 49%;
        }
    
        #productThree {
            grid-area: productThree;
            max-width: 49%;
        }
    
        #productFour {
            grid-area: productFour;
            max-width: 49%;
        }
    
        #productFive {
            grid-area: productFive;
            max-width: 49%;
        }
    
        #productSix {
            grid-area: productSix;
            max-width: 49%;
        }
    
        #productSeven {
            grid-area: productSeven;
            max-width: 49%;
        }
    
        #productEight {
            grid-area: productEight;
            max-width: 49%;
        }
}