/*GENERAL*/
/*sets the background image, font, and font size for the whole page*/
body {
    background-color: #D7F3FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23D7F3FF'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FFBFEB' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFBFEB' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.5'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

/*sets the font and font size for and restricts the sizes of input and related tags*/
input, textarea, select {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 100%;
    font-size: 18px;
}

/*crops everything on overflow*/
form, div, nav, footer {
    max-width: 100%;
    overflow: auto;
}

/*crops header tags on overflow and sets a margin*/
h1, h3 {
    margin-left: 5px;
    max-width: 100%;
    overflow: auto;
}

/*removes the underline from the a tags*/
a {
    text-decoration: none;
}

/*sets color to black for various a tags*/
li > a, #contact > a {
    color: black;
}

/*HEADER*/
/*sets header background color*/
header {
    background-color: rgb(255, 192, 203);
}

/*sets size of the header part containing the logo and the search bar and arranges them within it*/
#logoSearch {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/*sets size of header logo*/
#logo {
    max-height: 50px;
    max-width: 100%;
}

/*sets size of search bar*/
#forSearch {
    max-width: calc(100% - 25px);
    height: 2em;
    margin-left: 20px;
    margin-right: 5px;
}

/*NAV BAR*/
/*sets background color and arranges item distribution in the nav bar*/
nav {
    background-color: rgb(255, 155, 170);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*sets margins, color, and size for nav bar buttons*/
nav > a {
    margin: 5px;
    color: black;
    font-size: 20px;
}

/*HOME*/
/*sets size for the div holding the logo on the home page and centers it*/
#homeSpace {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*restricts size of large logo on home page*/
#homeLogo {
    max-height: 100px;
    max-width: 100%;
}

/*GALLERY*/
/*arranges videos in a grid*/
#videos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    max-width: 100%;
    grid-template-areas: "videoOne videoTwo";
}

/*sets size for first video*/
#videoOne {
    grid-area: videoOne;
    width: 560px;
    height: 315px;
}

/*sets size for second video*/
#videoTwo {
    grid-area: videoTwo;
    width: 560px;
    height: 315px;
}

/*arranges product pictures in a grid*/
#jewelry {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "productOne productTwo productThree productFour" "productFive productSix productSeven productEight";
    max-width: 100%;
    gap: 10px;
    margin: 10px;
}

/*the following set the grid-area for the various product images*/
#productOne {
    grid-area: productOne;
}

#productTwo {
    grid-area: productTwo;
}

#productThree {
    grid-area: productThree;
}

#productFour {
    grid-area: productFour;
}

#productFive {
    grid-area: productFive;
}

#productSix {
    grid-area: productSix;
}

#productSeven {
    grid-area: productSeven;
}

#productEight {
    grid-area: productEight;
}

/*restricts width of images and paragraph tags on the gallery page*/
.gallery > img, .gallery > p {
    max-width: 100%;
}

/*sets the labels for the product images to display inline*/
.label {
    display: inline;
}

/*REVIEWS*/
/*arranges things on the review page*/
#reviewPage {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/*sets margin and border for the reviews*/
.review {
    border: 1px solid grey;
    margin: 10px;
}

/*sets margins for the reviews*/
.review > p {
    margin-left: 5px;
    margin-right: 5px;
}

/*sets margin, border, and initially hides the no reviews message*/
#none {
    border: 1px solid grey;
    margin: 10px;
	display: none;
}

/*sets margins for the no reviews message*/
#none > p {
    margin-left: 5px;
    margin-right: 5px;
}

/*ORDER*/
/*formats the button on the order page*/
button {
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid grey;
    font-size: 18px;
}

/*FOOTER*/
/*sets background color, padding, and arrangement of items in the footer*/
footer {
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    align-items: center;
    justify-content: space-around;
}

/*sets margin for paragraph tags in the footer*/
footer > p {
    margin: 10px;
}
/*sets max size for footer images*/
#footerLogo, #twitter, #instagram {
    max-height: 50px;
    max-width: 100%;
}

/*MEDIA QUERIES*/
/*begins scaling the videos down at a certain screen width*/
@media only screen and (max-width: 1120px) {
    #videos {
        justify-items: stretch;
    }

    #videoOne {
        width: 100%;
    }
    
    #videoTwo {
        width: 100%;
    }
}

/*moves the videos to on top of each other instead of side by side, at a certain screen width*/
@media only screen and (max-width: 940px) {
    #videos {
        grid-template-columns: 1fr;
        justify-items: center;
        max-width: 100%;
        grid-template-areas: "videoOne" "videoTwo";
    }
    
    #videoOne {
        width: 560px;
    }
    
    #videoTwo {
        width: 560px;
    }
}

/*begins scaling the videos down at a certain screen width*/
@media only screen and (max-width: 560px) {
    #videos {
        justify-items: stretch;
    }

    #videoOne {
        width: 100%;
    }

    #videoTwo {
        width: 100%;
    }
}

/*rearranges the review page and the gallery images at a certain size*/
@media only screen and (max-width: 479px) {
    #jewelry {
        gap: 5px;
        margin: 5px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "productOne productFive" "productTwo productSix" "productThree productSeven" "productFour productEight";
    }

    #reviewPage {
        grid-template-columns: 1fr;
    }
}

/*changes search bar margin at a certain screen width*/
@media only screen and (max-width: 459px) {
    #forSearch {
        margin-left: 5px;
    }
}